<form name="new_link" method="post">
	<fieldset>
		<ol>
		   <li>
		      <label for="url">URL</label>
		      <input id="url" name="url" type=text placeholder="http://affix.me">
		      <button type="submit">Shorten</button>
		    </li>
		  </ol>
	</fieldset>
</form>
